@font-face{
    font-family: sans-serif;
    font: 'Roboto';
    src: url('../fonts/Roboto-Thin.ttf');
    font-weight: 100;
}

@font-face{
    font-family: sans-serif;
    font: 'Roboto';
    src: url('../fonts/Roboto-Light.ttf');
    font-weight: 200;
}

@font-face{
    font-family: sans-serif;
    font: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;    
}

@font-face{
    font-family: sans-serif;
    font: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;    
}

@font-face{
    font-family: sans-serif;
    font: 'Roboto';
    src: url('../fonts/Roboto-Black.ttf');
    font-weight: 900;
}





.screen01
{
    background: url(../images/top_bg.jpg) no-repeat top center / cover;
    /* height: 50vh; */
    position: relative;
    overflow: hidden;
    padding-top: 53px;
    padding-bottom: 366px;
}

.screen01:after
{
    content: '';
    position: absolute;
    width: 120%;    
    height: 250px;
    transform: rotate(-6deg);
    background: #fff;
    bottom: -80px;
    left: 0;

}
.logo-nav
{
    margin-bottom: 170px;
}

.logo
{
    display: inline-block;
}

.nav
{
    display: inline-block;
    margin-left: 220px;
    line-height: 49px;
}

.nav__item
{
    display: inline-block;
    margin-left: 30px;
}

.nav__link
{
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
}

.descriptors
{
    text-align: center;
    color: #fff;
}

.descriptors__main
{
    font-size: 80px;
    font-weight: 100;
    margin-bottom: 18px;
}

.descriptors__bottom
{
    font-size: 50px;
    font-weight: 100;
}

.screen02__pluses
{
    padding-top: 200px;
}

.screen02__info-wrap
{
    width: 1030px;
    margin: 0 auto;
    position: relative;
}

.screen02_info
{
    width: 515px;
    padding: 40px 30px;
    background: #fff;
    box-shadow: 0px 1px 2px 0px rgba(35, 31, 32, 0.65);
    position: absolute;
    top: -240px;
    right: 0;
}

.screen02__text25
{
    font-size: 40px;
    color: #252525;
    font-weight: 700;
}



.container
{
    max-width: 1030px;
    margin: 0 auto;
    /* padding: 0 18px; */
}

p
{
    font-size: 14px;
    font-weight: 200;
    color: #242424;
    margin: 15px 0 0 0;
}

.screen02__text2
{
    font-size: 50px;
    font-weight: 700;
    color: #252525;
}

.screen02__text3
{
    font-size: 35px;
    font-weight: 900;
    color: #252525;
    text-align: center;
}

.screen02__row
{
    overflow: hidden;
}

.screen02__column
{
    float: left;;
    width: 33.33%;
}

.screen02__image-wrap
{
    height: 211px;
    position: relative;
    margin-bottom: 40px;
}

.screen02__image-wrap img
{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.movie-list
{
    padding: 100px 0;
}

.movie-list__header
{
    font-size: 50px;
    color: #252525;
    font-weight: 700;
    margin: 0 0 79px;
    text-align: center  ;
}

.movie-list__table
{
    width: 100%;
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
}

.movie-list__table th
{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    background: #a3cc40; 
    padding: 19px 0 19px 19px;
    text-align: left;
}

.movie-list__table td
{
    font-size: 22px;
    font-weight: 400;
    color: white;
    padding: 20px 0 20px 20px;
}

.movie-list__table tr:nth-child(2n+1)
{
    background: #373737;
}

.movie-list__table tr:nth-child(2n)
{
    background: #4b4d4f;
}

.movie-list__footer
{
    margin-top: 40px;
    text-align: center;
}

.movie-grid__header
{
    text-align: left;
}

.movie-grid__text2
{
    font-size: 50px;
    font-weight: 700;
    color: #252525;
}

.block-gift
{
    padding-top: 130px;
    padding-bottom: 173px;
    background-image: url('../images/b4_bg.jpg');
    background-color: #000000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.gift-image
{
    position: absolute;
    top: -50px;
    border-radius: 100%;
    overflow: hidden;
}

.gift-conditions
{
    margin-left: 350px;
    color: #fff;
    text-align: right;
}

.gift-conditions__head
{
    margin-bottom: 53px;
    font-size: 50px;
    font-weight: 900;
}

.gift-conditions__caption
{
    margin-bottom: 34px;
}

.gift-conditions__caption p
{
    color: #fff;
}

.screen05__text3
{
    font-size: 35px;
    font-weight: 900;
    color: #252525;
}

.movie-grid__flex
{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -18px;
}

.movie-grid__item
{
    padding: 18px;
}

.movie-grid__inner1
{
    position: relative;
    overflow: hidden;
}

.movie-grid__description
{
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    bottom: -100%;
    background: rgba(144, 210, 61, .8);
    border-radius: 11px;
    padding: 23px;
    display: flex;
    flex-direction: column;
    transition: 0.2s;
}

.movie-grid__item:hover .movie-grid__description
{   bottom: 0;

}

.movie-grid__text1
{
    font-size: 35px;
    font-weight: 700;
    color: #ffffff;
    margin: 0 0 10px;
}

.movie-grid__hr
{
    width: 80px;
    height: 8px;
    margin: 0 0 14px;
    background: #fff;
}

.movie-grid__text2
{
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    flex: 1;
    margin-top: 0px;
}

.movie-grid__svg
{
    fill: #fff;
    transition: 0.2s;
}

.movie-grid__svg:hover
{
    fill: green;
}

.movie-grid__links
{
    display: flex;
}

.movie-grid__link1 + .movie-grid__link1
{
    margin-left: 6px;
}