@font-face{
    font: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;    
}

@font-face{
    font: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;    
}

.movie-list
{
    padding: 100px 0;
}

.movie-list__header
{
    font-size: 50px;
    color: #252525;
    font-weight: 700;
    margin: 0 0 79px;
    text-align: center  ;
}

.container
{
    max-width: 1030px;
    margin: 0 auto;
}

.movie-list__table
{
    width: 100%;
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
}

.movie-list__table th
{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    background: #a3cc40;
    padding: 19px 0;
}

  