@font-face{
    font-family: sans-serif;
    font: 'Roboto';
    src: url('../fonts/Roboto-Thin.ttf');
    font-weight: 100;
}

@font-face{
    font-family: sans-serif;
    font: 'Roboto';
    src: url('../fonts/Roboto-Light.ttf');
    font-weight: 200;
}

@font-face{
    font-family: sans-serif;
    font: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;    
}

@font-face{
    font-family: sans-serif;
    font: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;    
}

@font-face{
    font-family: sans-serif;
    font: 'Roboto';
    src: url('../fonts/Roboto-Black.ttf');
    font-weight: 900;
}


html {
    font-size: 1.46vw;
}

body {
    min-width: 320px;
    -webkit-text-size-adjust: 100%;
}


.screen01
{
    background: url(../images/top_bg.jpg) no-repeat top center / cover;
    position: relative;
    overflow: hidden;
    padding-top: 2.65rem;
    padding-bottom: 18.3rem;
    min-height: 100vh;
}

.screen01:after
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-left: 100vw solid transparent;
    border-bottom: 5.55rem solid #fff;
}
.logo-nav
{
    margin-bottom: 8.5rem;
}

.logo
{
    display: inline-block;
}

.logo__img img
{
    width: 9.4rem;
}

.nav
{
    display: inline-block;
    margin-left: 11rem;
    line-height: 2.45rem;
}

.nav__item
{
    display: inline-block;
    margin-left: 1.5rem;
}

.nav__link
{
    font-size: .75rem;
    text-transform: uppercase;
    color: #fff;
}

.descriptors
{
    text-align: center;
    color: #fff;
}

.descriptors__main
{
    font-size: 4rem;
    font-weight: 100;
    margin-bottom: .9rem;
}

.descriptors__bottom
{
    font-size: 2.5rem;
    font-weight: 100;
}

.screen02
{
    padding-top: 5rem;
}

.screen02__info-wrap
{
    width: 53rem;
    margin: 0 auto;
    position: relative;
}

.screen02_info
{
    width: 25.75rem;
    padding: 2rem 1.5rem;
    background: #fff;
    box-shadow: 0px 1px 2px 0px rgba(35, 31, 32, 0.65);
    position: absolute;
    top: -12rem;
    right: 0;
}

.screen02__text25
{
    font-size: 2rem;
    color: #252525;
    font-weight: 700;
}



.container
{
    max-width: 53rem;
    margin: 0 auto;
    padding: 0 .75rem;
}

p
{
    font-size: .7rem;
    font-weight: 200;
    color: #242424;
    margin: .75rem 0 0 0;
}

.screen02__text2
{
    font-size: 2.5rem;
    font-weight: 700;
    color: #252525;
}

.screen02__text3
{
    font-size: 1.75rem;
    font-weight: 900;
    color: #252525;
    text-align: center;
}

.screen02__row
{
    overflow: hidden;
}

.screen02__column
{
    float: left;;
    width: 33.33%;
}

.screen02__image-wrap
{
    margin: 0 0 1.75rem;
    height: 10.55rem;
    position: relative;
    margin-bottom: 2rem;
}

.screen02__image-wrap img
{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 10rem;
}

.movie-list
{
    padding: 5rem 0;
}

.movie-list__header
{
    font-size: 2.5rem;
    color: #252525;
    font-weight: 700;
    margin: 0 0 3.95rem;
    text-align: center  ;
}

.movie-list__table
{
    width: 100%;
    border-collapse: collapse;
    border-radius: .75rem;
    overflow: hidden;
}

.movie-list__table th
{
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    background: #a3cc40; 
    padding: .95rem 0 .95rem .95rem;
    text-align: left;
}

.movie-list__table td
{
    font-size: 1.1rem;
    font-weight: 400;
    color: white;
    padding: 1rem 0 1rem 1rem;
}

.movie-list__table tr:nth-child(2n+1)
{
    background: #373737;
}

.movie-list__table tr:nth-child(2n)
{
    background: #4b4d4f;
}

.movie-list__footer
{
    margin-top: 2rem;
    text-align: center;
}

.movie-grid__header
{
    text-align: left;
}

.movie-grid__text2
{
    font-size: 2.5rem;
    font-weight: 700;
    color: #252525;
}

.block-gift
{
    padding-top: 6.5rem;
    padding-bottom: 8.65rem;
    background-image: url('../images/b4_bg.jpg');
    background-color: #000000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.gift-image
{
    position: absolute;
    top: -2.5rem;
    border-radius: 100%;
    overflow: hidden;
}

.gift-image img
{
    width: 15rem;
}

.gift-conditions
{
    margin-left: 17.5rem;
    color: #fff;
    text-align: right;
}

.gift-conditions__head
{
    margin-bottom: 2.65rem;
    font-size: 2.5rem;
    font-weight: 900;
}

.gift-conditions__caption
{
    margin-bottom: 1.7rem;
}

.gift-conditions__caption p
{
    color: #fff;
}

.screen05__text3
{
    font-size: 1.75rem;
    font-weight: 900;
    color: #252525;
}

.grid-container
{
    max-width: 50.3rem;
    margin: 0 auto;
    /* box-sizing: border-box; */
    padding: 0 .9rem;
}

.movie-grid__flex
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
}

.movie-grid__inner1
{
    position: relative;
    overflow: hidden;
}

.movie-grid__poster img
{
    width: 14.8rem;
}

.movie-grid__description
{
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    bottom: -100%;
    background: rgba(144, 210, 61, .8);
    border-radius: .55rem;
    padding: 1.15rem;
    display: flex;
    flex-direction: column;
    transition: 0.2s;
}

.movie-grid__item:hover .movie-grid__description
{   
    bottom: 0;
}

.movie-grid__text1
{
    font-size: 1.75rem;
    font-weight: 700;
    color: #ffffff;
    margin: 0 0 .5rem;
}

.movie-grid__hr
{
    width: 4rem;
    height: .4rem;
    margin: 0 0 .7rem;
    background: #fff;
}

.movie-grid__text2
{
    font-size: .9rem;
    color: #ffffff;
    font-weight: 400;
    flex: 1;
    margin-top: 0px;
}

.movie-grid__svg
{
    fill: #fff;
    transition: 0.2s;
    width: 2.5vw;
}

.movie-grid__svg:hover
{
    fill: green;
}

.movie-grid__links
{
    display: flex;
}

.movie-grid__link1 + .movie-grid__link1
{
    margin-left: .3rem;
}